
.navbar .nav-item .profile-img{
    width: 40px;
    height: 40px;
}

.navbar .nav-item .profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pendaftar .pendaftar-top{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 5px 3px;
}

.pendaftar .search{
    position: relative;
}

.pendaftar .pendaftar-title{
    font-size: 20px;
    margin: 0;
}

.pendaftar .search .search-input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3px 20px 3px 40px;
    outline: none;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.7);
}

.pendaftar .search .search-input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.pendaftar .search label{
    width: 40px;
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pendaftar .btn-daftar{
    border-radius: 3px;
}

.pendaftar-table{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.pendaftar-table table{
    margin: 0;
}

.pendaftar-footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.pendaftar-footer p{
    margin: 0;
}

.form-control{
    height: 100% !important;
    outline: none !important;
}

.modal .form-control{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8) !important;
}

.btn-login{
    width: 100%;
    border-radius: 3px;
}

.daftar .siswa-img{
    width: 100%;
    max-height: 400px;
}

.daftar .siswa-img img{
    width: 100%;
}

.data-diri{
    margin-bottom: 30px;
}

.data-diri:last-child{
    margin-bottom: 0;
}

.data-diri span{
    color: rgba(0, 0, 0, 0.75);
}

.btn-primary.default,
.btn-secondary.default
{
    border-radius: 3px !important;
}

.daftar .btn-primary{
    width: 350px;
}

.register .siswa-img{
    width: 100%;
    max-height: 400px;
}

.register .siswa-img img{
    width: 100%;
}

.register .data-diri{
    margin-bottom: 20px;
}

.register .data-diri span{
    font-size: 13px;
}

.register .custom-card,
.login .custom-card{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.form-register label{
    font-size: 12px;
}

.form-register .form-control{
    font-size: 14px;
}

.form-register .btn.btn-primary{
    width: 100%;
}

.btn-disable{
    opacity: .7;
    pointer-events: none;
}

.login .container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.login .custom-card .btn.btn-primary{
    width: 100%;
}

.daftar-proses .container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daftar-proses .container .content .ilustration{
    width: 400px;
    margin: auto;
}

.daftar-proses .container .content .ilustration img{
    width: 100%;
}